.html, body {
  font-family: "Sanchez", sans-serif; 
  font-weight: 300; 
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
	height: 600px;
}

#sign {
    margin-top: 0; 
	margin-bottom:50px;
	padding: 0px;
    border: none; 
}

#starBanner{
	margin: 0;
	width: 100%;
	float: left;
	padding-bottom: 20px;
	border: none;
}

#namedisplay  {
	background-color: #4200FF;
	margin-top: 50px;
    margin-bottom: 0;
	padding: 0px;
	border:none;
    color: white; 
    font-size: 100px;
    font-family: "Arvo";
    font-weight: bold;
    text-transform: uppercase;
    background: blue; 
}

p{
	font-size: 20px;
}

form {
    margin: 40px; 
}

#generator {
	color: white;
	padding: 30px;
	font-size: 100px;
	font-family: "Arvo";
	text-transform: capitalize;
	font-weight: bold;
    background-color: red; 
}

footer {
	background-color: #696A6C;
	padding: 50px 0 ;
	text-align: left;
}

footer ul li {
	display: inline-block;
	padding-right: 30px;

}
.button a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 10px 10px;
}

.button a:hover {
	background: rgba(255, 255, 255, 0.9);
	color: #696A6C;
	text-decoration: none;
	padding: 10px 10px;
	border-radius: 5%;
}


